<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Transit by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/skel.min.js"></script>
		<script src="static/js/skel-layers.min.js"></script>
		<script src="static/js/init.js"></script>

		<link rel="stylesheet" href="static/css/skel.css" />
		<link rel="stylesheet" href="static/css/style.css" />
		<link rel="stylesheet" href="static/css/style-xlarge.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="/">Olin Stock Market</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/#banner">Home</a></li>
						<li><a href="/#one">Part Selection</a></li>
						<li><a href="https://docs.google.com/spreadsheets/d/1FqDo6pPHvlgrsp8z4VJyQzSa6x8cxxIfXJ09ugByXi4/edit?usp=sharing">Inventory</a></li>
					</ul>
				</nav>
			</header>

      <section id="main" class="wrapper">
				<div class="container">

          <h4>Default</h4>
          <div class="table-wrapper">
            <table>
              <thead>
                <tr>
                  <th>Number</th>
                  <th>Part Name</th>
                  <th>Part Number</th>
                </tr>
              </thead>
              <tbody>
                {% for item in sel_list %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ item }}</td>
                  <td>{{ num_list[loop.index] }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <center>
            <form action="{{ url_for('generateOrder') }}" method = "POST">
              <input type="submit" value="Create Order" class="special" />
            </form>
            <form action="{{ url_for('generateLabels') }}" method = "POST">
              <input type="submit" value="Create Labels" class="special" />
            </form>
          </center>
        </div>
      </section>

      <footer id="footer">
        <div class="container">
          <div class="row">
            <div class="8u 12u$(medium)">
              <ul class="copyright">
                <li>&copy; Untitled. All rights reserved.</li>
                <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
                <li>Images: <a href="http://unsplash.com">Unsplash</a></li>
              </ul>
            </div>
            <div class="4u$ 12u$(medium)">
              <ul class="icons">
                <li>
                  <a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
                </li>
                <li>
                  <a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
                </li>
                <li>
                  <a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
                </li>
                <li>
                  <a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </body>
</html>
